<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>配送端登录</title>
    <link rel="stylesheet" href="https://i.gtimg.cn/vipstyle/frozenui/2.0.0/css/frozen.css">
    <style>
        input[type="button"], input[type="submit"], input[type="reset"] {
            　　-webkit-appearance: none;
        }
        textarea {
            　　-webkit-appearance: none;
        }
    </style>
</head>
<body>
<section class="ui-container">
    <div class="index-wrap">
        <div class="ui-panel ui-panel-center ui-border-tb">
            <h3 class="">
                配送端登录
            </h3>
        </div>
        <div>
            <form method="post" action='{:url("express/Form/login")}' style="background:#fff">
                <div class="ui-form-item ui-border-b">
                    <label>
                        账号
                    </label>
                    <input name="acc" id="acc" type="text" placeholder="请输入账号" style="width: 300px">
                    <a href="#" class="ui-icon-close" onclick="clearInput('acc')">
                    </a>
                </div>
                <div class="ui-form-item ui-border-b">
                    <label>
                        密码
                    </label>
                    <input name="pwd" id="pwd" type="password" placeholder="请输入密码" style="width: 300px">
                    <a href="#" class="ui-icon-close" onclick="clearInput('pwd')">
                    </a>
                </div>
                <div style="padding: 50px 10px;">
                    <input type="submit" class="ui-btn ui-btn-primary" style="width: 100%;-webkit-appearance: none;height:60px" value="登录"></input>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
<script>
    function clearInput(id) {
        document.getElementById(id).value="";
    }
</script>
</html>